# Python specific
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
*.env
*.venv

# Django specific
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
*.log
staticfiles/

# VS Code specific
.vscode/

# Operating system files
.DS_Store
Thumbs.db

# Django migrations folder
migrations/

# IDE specific files
.idea/

# Environment variables file
.env
